.page {
  width: 100%;
  position: relative;
  background: transparent;
  transition: all 0.3s ease;

  &.reduced {
    background: rgba(0, 9, 255, 0.03);
  }
}

.background {
  width: 50%;
  height: 100%;
  background: rgba(0, 9, 255, 0.03);
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;

  .reduced & {
    background: transparent;
  }
}

.sidebar {
  width: 260px;
  padding: 30px 20px 30px 70px;
  transition: all 0.3s ease;
  opacity: 1;

  .reduced & {
    width: 0;
    padding: 30px 0;
    opacity: 0;
    pointer-events: none;
  }

  &__project {
    color: #284657;
    font-size: 18px;
    line-height: normal;
  }

  &__list {
    margin-top: 60px;
  }

  &__item {
    margin-bottom: 20px;

    .sidebar__sublist & {
      margin-bottom: 6px;
    }
  }

  &__link {
    color: #284657;
    font-size: 18px;
    line-height: normal;
    display: block;
    transition: all 0.3s ease;
    font-weight: 500;

    .sidebar__sublist & {
      font-size: 14px;
    }

    &.active {
      border-left: 1px solid #2329d6;
      color: #2329d6;
      padding-left: 10px;
    }
  }

  &__sublist {
    margin-top: 10px;
    padding-left: 16px;
  }
}

.content {
  min-height: 100vh;
  background: #fff;
  width: calc(100% - 260px);
  padding: 0 60px;
  transition: all 0.3s ease;

  &.expanded {
    width: 100%;
    background: transparent;
  }
}
